.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  margin: 20px;
}

.search-form-container {
  background-color: rgb(154, 166, 142);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-bottom: 20px;
}

.search-form {
  border-radius: 30px 0 0 30px;
}

.search-input {
  width: 100%;
  max-width: 500px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  border-radius: 30px 0 0 30px;
  text-align: center;
}

.search-btn {
  width: 80px;
  background-color: rgb(80, 78, 70);
  border-radius: 0 30px 30px 0;
  padding: 8.5px;
  margin-left: 40px;
  margin-top: 0.5px;
  border: none;
}

.search-icon {
  color: white;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top:100px;
  background-color: rgb(131, 116, 146);
}
